<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/index.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/watcher.css"
  type="text/css"
  rel="stylesheet" />
<link
  href="/.static/css/posting.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themeLoader.js"></script>

  <nav>
    <span id="navLinkSpan"> <span>[</span> <a
        href="/boards.js"
        class="coloredIcon"
        id="navBoardList"></a> <span>/</span> <a
        href="/overboard"
        class="coloredIcon"
        id="navOverboard"></a> <span>/</span> <a
        href="/.static/pages/posting.html"
        class="coloredIcon"
        id="navPosting"></a> <span>]</span>
    </span> <span id="navBoardsSpan"> </span> <span id="navOptionsSpan"> </span>
  </nav>

  <div id="indexWrapper">

    <div
      id="logoBox"
      class="title">
      <img
        src="/.static/logo.png"
        class="logoImg"
        alt="logo" />
    </div>

    <div
      id="infoBox"
      class="title">
      <p>モッドちやんねるへようこそ 海外の反応をリアルタイムで見られる国際交流掲示板です。</p>
        <br><br>
        海外の記事や外国人の反応を確認することができます。
      </p>
    </div>
    <div
      id="links"
      class="title">
      <span>[</span>
      <a
        href="/logs.js"
        class="coloredIcon"
        id="linkGlobalLogs"></a>
      <span>/</span>
      <a
        href="/archives.js"
        class="coloredIcon"
        id="linkArchives"></a>
      <span>/</span>
      <a
        href="/graphs.js"
        class="coloredIcon"
        id="linkGraphs"></a>
      <span>/</span>
      <a
        href="/.static/pages/globalRules.html"
        class="coloredIcon"
        id="linkGlobalRules"></a>
      <span>/</span>
      <a
        href="/.static/pages/links.html" 
        class="coloredIcon"
        id="linkLinks"></a>
      <span>/</span>
      <a
        href="/.static/pages/about.html"
        class="coloredIcon"
        id="linkAbout"></a>
      <span>/</span>
      <a
        href="/.static/pages/contact.html"
        class="coloredIcon"
        id="linkContact"></a>
      <span>/</span>
      <a
        href="/account.js"
        class="coloredIcon"
        id="linkAccount"></a>
      <span>]</span>
    </div>
    <fieldset class="titleFieldset">
      <legend>掲示板</legend>
        <div
          id="divBoards"
          class="topBoards title"></div>
    </fieldset>

    <div class="splitField">
      <fieldset class="titleFieldset">
      <legend>海外の最新記事と反応</legend>
        <div id="divLatestImages"></div>
      </fieldset> 
      <div></div>
      <fieldset class="titleFieldset">
      <legend>最新の投稿</legend>
        <div id="divLatestPosts"></div>
      </fieldset>
    </div>
    <fieldset class="titleFieldset">
      <legend>統計</legend>
        <div id="divStats">
          <span>投稿総数：<span id="labelTotalPosts"></span></span>
          <span>過去1時間の投稿：<span id="labelTotalPPH"></span></span>
          <span>ユニークな最近のIP：<span id="labelTotalIps"></span></span>
          <span>掲示板の総数：<span id="labelTotalBoards"></span></span>
          <span>保存されているメディアファイル：<span id="labelTotalFiles"></span></span>
          <span>合計メディアサイズ：<span id="labelTotalSize"></span></span>
        </div>
    </fieldset>

  </div>
</body>

<script src="/.static/js/api.js"></script>
<script src="/.static/js/themes.js"></script>
<script src="/.static/js/draggable.js"></script>
<script src="/.static/js/watcher.js"></script>
<script src="/.static/js/favouriteBoards.js"></script>

</html>
