<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8" />
<meta
  name="viewport"
  content="width=device-width, initial-scale=1.0">
<link
  href="/.static/css/global.css"
  type="text/css"
  rel="stylesheet" />
</head>
<body>

  <script src="/.static/js/themes.js"></script>

  <nav id="dynamicHeader"></nav>

  <header>
    <img
      src="/.static/logo.png"
      class="logoImg"
      alt="logo" />
  </header>

  <div id="settingsWrapper">

    <fieldset id="settingsFieldset">

      <legend>利用規約</legend>

      <h3>
        /<span id="boardLabel"></span>/の利用規約 
      </h3>
      <div id="divRules"></div>
      <p>
        掲示板の利用規約に関わらず、
        <a href="/.static/pages/globalRules.html">グローバル利用規約</a>
        が全て適用されることを忘れないでください。
      </p>

    </fieldset>

  </div>

</body>

<script src="/.static/js/api.js"></script>

<script src="/.static/js/favouriteBoards.js"></script>

</html>
